.filters-menu
  %ul{:class => 'cleared'}
    %li= link_to_unless_current_action "moderate_submissions", "Submissions", moderate_submissions_path
    %li= link_to_unless_current_action "moderate_comments", "Comments", moderate_comments_path

