%h1 Change name

= form_for AppSettings, :url => {:controller => 'admin', :action => 'save_app_name'}, :method => 'post' do |f|
  .field
    = f.label :app_name, "The current name of your app is"
    = f.text_field :app_name

  = f.submit "Save"

