%h1 Moderate submissions and comments
= render :partial => 'admin/filters'
%p Here are all the comments ever posted to your site. Most recent first.
= render :partial => "comments/list", :locals => {:comments => @comments}

