td {vertical-align:top;}
table {width:100%;}
.hidden {display:none;}
.invisible {visibility:hidden;}

.top-nav-bar ul, .filters-menu ul {list-style-type: none; background-color: #eee; margin: 0;}
.top-nav-bar li, .filters-menu li {display:inline; float:left; margin: 0 2em 0 0; padding:0;}
.site-title h1, .top-nav-bar ul {padding: 0.2em 0.4em;}

.cleared:after {content: ".";display: block; height: 0; clear: both; visibility: hidden;}

.site-title {margin: 0 0.5em 0 0; padding: 0; float:right; font-size:60%;}
.site-title h1 {margin: 0;}
