a { color: #222; }
a:visited { color: #444; }
a:hover { color: #fff; background-color:#555; }

hr {margin-top:2em; background-color:#ddd; border-style:none;}

h1 {font-size:120%;}

textarea {height:100px;}

body { background-color: #fff; color: #111; font-size:80%;}
body, p, ol, ul, td { font-family: verdana, arial, helvetica, sans-serif;}

td {vertical-align:top;}

table.list td {border-bottom:1px solid #eee;}
table.list {width:auto;}

.hidden {display:none;}
.invisible {visibility:hidden;}

.top-nav-bar ul, .filters-menu ul {list-style-type: none; background-color: #eee; margin: 0;}
.top-nav-bar li, .filters-menu li {display:inline; float:left; margin: 0 2em 0 0; padding:0;}
.site-title h1, .top-nav-bar ul {padding: 0.2em 0.4em;}

.cleared:after {content: ".";display: block; height: 0; clear: both; visibility: hidden;}

.site-title {margin: 0 0.5em 0 0; padding: 0; float:right; font-size:90%;}
.site-title h1 {margin: 0;}

.center-pane {font-size: 90%;}
td.vote-area {white-space:nowrap; width:50px; text-align:right; padding-right:10px;}
.inner-center-pane {width:90%; text-align:left; margin:auto;}
.center-pane {text-align:center;}
.notice {color:#3b0; font-weight:bold;}
.alert {color:red; font-weight:bold;}
.karma-indicator, .rank, .admin-links, .deletion-seal {font-size:80%;}
.voted, .voted a, .rank {color:#bbb;}
.marked-as-spam .admin-links {color:red;}

#comments-list tr {background-color:#eee; margin:1em;}
#comments-list tr td {padding:0.2em 1em;}

.reply-link, .comment-signature {font-size:80%; color:#999;}

#post-comment-at-top {margin-bottom:1em;}

.submission-link {font-weight:bold; font-size:110%; margin-right:0.5em;}
.submission-link a {text-decoration:none;}

.site-logo {float:right;}

form .field label {width:200px; display:inline-block;}

form .example {font-style:italic; font-size:90%;}
