.float-left {float:left;}
.float-right {float:right;}

.pre-wrap {white-space:pre-wrap;}

a { color: #222; }
a:visited { color: #444; }
a:hover { color: #fff; background-color:#555; }
a.vote-up:hover {color:none; background-color:transparent; border:1px solid #ffbb22;}

.bookmarklet a {color:none; background-color:none;}
.bookmarklet a:hover {text-decoration:none; color:transparent; background-color:transparent;}
.bookmarklet img {border: 3px dashed #ccc;}

img {border-style:none;}

hr {margin-top:2em; background-color:#ddd; border-style:none;}

h2, h1 {font-size:120%;}

textarea {height:100px; vertical-align:bottom; width:400px;}

body { background-color: #fff; color: #111; font-size:80%;}
body, p, ol, ul, td { font-family: verdana, arial, helvetica, sans-serif;}

td {vertical-align:top;}

table.list td {border-bottom:1px solid #eee;}
table.list {width:auto;}

.hidden {display:none;}

ul.bulleted li {line-height:2em; }
ul.bulleted {list-style-type:none;}
.bullet {margin:0.25em 0;}

.prefixed-icon {margin-right:0.25em;}

.collapsible {margin-top:2em;}
.collapsible-content {margin-top:1em;}

.top-nav-bar ul, .filters-menu ul {list-style-type: none; background-color: #eee; margin: 0 0 1em 0;}
.top-nav-bar li, .filters-menu li {display:inline; float:left; margin: 0 2em 0 0; padding:0;}
.top-nav-bar ul {padding: 0.2em 0.4em;}

.cleared:after {content: ".";display: block; height: 0; clear: both; visibility: hidden;}

.site-title {margin: 0.2em 0.5em 0 0; padding: 0; float:right;}
.site-title h1 {margin: 0; padding:0; display:inline; font-size:105%;}
.score-bracket, .site-title h1 {color:#995522;}

.session-info {float:left; margin-right:0.5em;}

.center-pane {font-size: 90%;}
td.vote-area {white-space:nowrap; width:50px; text-align:right; padding-right:10px;}
.vote-up {float:left; border:1px solid transparent;}
.inner-center-pane {width:90%; text-align:left; margin:auto;}
.center-pane {text-align:center;}
.notice {color:#3b0; font-weight:bold;}
.alert {color:red; font-weight:bold;}
.karma-indicator, .rank, .admin-links, .deletion-seal, .score {font-size:80%;}
.submission-description, .dim, .dim a, .rank, .dim .score-bracket, .reply-link, .comment-signature {color:#888;}
.marked-as-spam .admin-links {color:red;}

#comments-list tr {background-color:#eee; margin:1em;}
#comments-list tr td {padding:0.2em 1em;}
#comments-list {width:100%;}

.reply-link, .comment-signature {font-size:80%;}

#post-comment-at-top {margin-bottom:1em;}

.submission-link {font-weight:bold; font-size:110%; margin-right:0.5em;}
.submission-link a {text-decoration:none;}

#submission_description {width:80%; height:200px;}
#submission_url {width:80%;}

.site-logo {width:150px; float:right; margin-left:-150px; text-align:right;}
.layout-content {margin-right:150px;}
.floating-wrapper {float:left; width:100%;}

.field label {width:200px; display:inline-block; vertical-align:top;}
form .example, .explanation {color:#777; font-size:90%;}
form .example {margin-top:-0.6em;}
.explanation {margin:0.2em 0;}

.edit_html {width:100%; height:320px;}

.crossed-out {text-decoration: line-through;}

