td.vote-area {width:60px;}

.inner-center-pane {width:90%; text-align:left; margin:auto;}

.center-pane {text-align:center;}

.notice {color:#3b0; font-weight:bold;}

.alert {color:red; font-weight:bold;}

.karma-indicator {font-size:70%;}

