%h1 Spammers
= render :partial => 'users/filters'
%p Here are all the users who submitted at least one submission that was marked as spam.
= render :partial => 'users/list', :locals => {:users => @users}
