%h1 Manage users
= render :partial => 'users/admin_filters'
%p Here are all the users who had one of their submissions or one of their comments marked as spam.
= render :partial => 'users/list', :locals => {:users => @users}
