= link_to '+', {:controller => :submissions, :action => :vote_up, :id => submission.id}, :method => :post, :remote => true, :class => "vote-up"
%span
  = "("
  %span{:id => "scoreForSubmission#{submission.id}"}>= submission.score.to_i
  = ")"

:javascript
  $(document).ready(function(){
    $('.vote-up').bind('ajax:success', function(obj, data){
      data = eval("(" + data + ")");
      $('#scoreForSubmission' + data['id']).text(data['score']);
    });
  });

