- if @submissions.length > 0
  = render :partial => "list", :locals => {:submissions => @submissions}
- else
  %h1 Welcome
  %p You do not have any submissions to show just yet.
  %p 
    To submit a new story, click on the link at the top that says 
    %span<
      = link_to 'submit a new story', new_submission_path
      = "."
